<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   <!--   <add name="BergerEntities" connectionString="metadata=res://*/BergerDB.csdl|res://*/BergerDB.ssdl|res://*/BergerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.60.34;initial catalog=BergerPhase3;user id=sa;password=Teamhgs123$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="BergerEntities" connectionString="metadata=res://*/BergerDB.csdl|res://*/BergerDB.ssdl|res://*/BergerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-3HQGNSO8HEB;initial catalog=BergerPhase3;user id=sa;password=bg**2014$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
  <add key="API.CRMBerger.LeadImport.BaseUrl" value="https://bpilcrm.bergerindia.com:7065/" />
  <add key="API.CRMBerger.LeadImport.Token" value="berger@123$"></add>
  <add key="ExceptionLog.RootLocation" value="ExceptionLog"></add>
  <add key="API.CRMBerger.MaxRecords" value="1000"/> 
  </appSettings>
<runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" />
      <bindingRedirect oldVersion="1.0.0.0-11.0.0.0" newVersion="10.0.0.0" />
    </dependentAssembly>
  </assemblyBinding>
</runtime>
</configuration>